<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="../../css/materialize.min.css" th:href="@{/css/materialize.min.css}" media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="../../css/main.css" th:href="@{/css/main.css}" media="screen,projection"/>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
</head>

<body>

<div class="container">

    <div class="row">
        <div class="col s12">
            <span class="logo">theCommunicator</span>
        </div>
    </div>

    <div class="row">


        <div class="contact-list card col s4">
            <div class="card-content white-text valign-wrapper">
                <i class="small mdi-social-group"></i>
                    <span class="contact-list-header card-title">
                       Contacts
                    </span>


            </div>


            <div id="contact-list-div" class="collection contact-list-name ">

                <a onclick="changeActiveContact(this);" href="#!" class="collection-item contact-list-name valign-wrapper waves-effect waves-light contact-item" th:each="contact : ${contactListMap}">
                    <i class="mdi-image-lens contact-online left"></i> <span class="title center" th:text="${contact.key}">Login<span
                        class="new badge" th:text="${contact.value}" th:if="${contact.value > 0}">0</span></span>
                </a>

            </div>

            <div class="contact-list-add" >
                <input type="text" class="contact-list-add-input col s10" />
                <button class="contact-list-add-submit waves-effect waves-light btn yellow darken-4 col s2" ><i class="mdi-social-person-add"></i></button>
            </div>

        </div>


        <div class="communicator-right card col s7 offset-s1 z-depth-2">

            <div class="card-content white-text valign-wrapper">
                <i class="small mdi-social-person"></i>
                    <span id="active-person" class="current-contact contact-list-header card-title">
                       Adam Smith
                    </span>
            </div>

            <div class="chat-window ">

                <div class="card col s8 msg-contact">
                    <p>
                        <span class="msg-about">Adam Smith - 2015-03-01 12:34:36</span>
                      <span class="msg-content">Lorem ipsum dolor sit amet,
                        consectetur
                        adipiscing elit. Donec maximus sagittis rhoncus.
                      </span>
                    </p>
                </div>

                <div class="card col s8 offset-s4 msg-own" >
                    <p>
                        <span class="msg-about">You - 2015-03-01 12:34:36</span>
                      <span class="msg-content">Lorem ipsum dolor sit amet,
                        consectetur
                        adipiscing elit. Donec maximus sagittis rhoncus.
                      </span>
                    </p>
                </div>

                <div class="card col s8 msg-contact">
                    <p>
                        <span class="msg-about">Adam Smith - 2015-03-01 12:34:36</span>
                      <span class="msg-content">Lorem ipsum dolor sit amet,
                        consectetur
                        adipiscing elit. Donec maximus sagittis rhoncus.
                      </span>
                    </p>
                </div>

                <div class="card col s8 msg-contact" >
                    <p>
                        <span class="msg-about">Adam Smith - 2015-03-01 12:34:36</span>
                      <span class="msg-content">Lorem ipsum dolor sit amet,
                        consectetur
                        adipiscing elit. Donec maximus sagittis rhoncus. Lorem ipsum dolor sit amet,
                        consectetur
                        adipiscing elit. Donec maximus sagittis rhoncus.
                      </span>
                    </p>
                </div>

                <div class="card col s8 offset-s4 msg-own" >
                    <p>
                        <span class="msg-about">You - 2015-03-01 12:34:36</span>
                      <span class="msg-content">Lorem ipsum dolor sit amet,
                        consectetur
                        adipiscing elit. Donec maximus sagittis rhoncus.
                      </span>
                    </p>
                </div>

                <div class="card col s8 offset-s4 msg-own" >
                    <p>
                        <span class="msg-about">You - 2015-03-01 12:34:36</span>
                      <span class="msg-content">Lorem ipsum dolor sit amet,
                        consectetur
                        adipiscing elit. Donec maximus sagittis rhoncus.
                      </span>
                    </p>
                </div>

                <div class="card col s8 offset-s4 msg-own" >
                    <p>
                        <span class="msg-about">You - 2015-03-01 12:34:36</span>
                      <span class="msg-content">Lorem ipsum dolor sit amet,
                        consectetur
                        adipiscing elit. Donec maximus sagittis rhoncus.
                      </span>
                    </p>
                </div>

            </div>


            <div>
                <textarea class="chat-area col s12" ></textarea>
                <a class="chat-area-submit waves-effect waves-light btn right yellow darken-4" onclick="sendMessage()"><i class="mdi-hardware-keyboard-return"></i></a>
            </div>
        </div>
    </div>

</div>





<!--Import jQuery before materialize.js-->
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="../../js/materialize.min.js" th:src="@{/js/materialize.min.js}"></script>

<script>

    (function(){

        $(".contact-list-add-submit").click(function(){
            if($(".contact-list-add-input").val()){
                var saveContactUrl = "/chat/saveContact/" + $(".contact-list-add-input").val();
                $.ajax(saveContactUrl, {
                    success: function(data) {
                        buildContacts();
                    },
                    error: function() {
                        console.log("error");
                    }
                })
            }
        });

        function buildContacts(){
            var getContactsUrl = "/chat/getContacts";

            $.ajax(getContactsUrl, {
                success: function(data) {
                    createContact(data);
                },
                error: function() {
                    console.log("error");
                }
            });
        };

        function createContact(contactListMap){
            var contactListDiv = document.getElementById("contact-list-div");
            contactListDiv.innerHTML = "";
            $.each( contactListMap, function(contact,unreadMessages) {
                var a = document.createElement("a");

                a.href = "#!";
                a.className += "collection-item contact-list-name valign-wrapper waves-effect waves-light contact-item";
                var i = document.createElement("i");
                i.className += "mdi-image-lens contact-online left";
                a.appendChild(i);
                var loginSpan = document.createElement("span");
                loginSpan.className += "title center";
                loginSpan.innerText = contact;
                if (unreadMessages > 0) {
                    var msgSpan = document.createElement("span");
                    msgSpan.className += "new badge";
                    msgSpan.text = unreadMessages;
                    loginSpan.appendChild(msgSpan);
                }
                a.onclick = function(){ changeActiveContact(this);};
                a.appendChild(loginSpan);
                contactListDiv.appendChild(a);
            });
        };





    })();


    function changeActiveContact(element){
        var activePerson = $('#active-person');
        activePerson.text($(element).find('span').text());
        $(element).addClass('active');

        refreshMessages();
    };

    function sendMessage(){
        var contact = $('.current-contact').text();
        var messageContent = $('.chat-area').text();
        var submitMessageUrl = "/chat/send/" + contact;

        $.ajax({
            type: "POST",
            url: submitMessageUrl,
            data: messageContent,
            success: function(data) {
                $('.chat-area').text("");
                refreshMessages();
            },
            error: function() {
                console.log("error");
            },
        });

        $.post(submitMessageUrl, {
            data: messageContent,

        });

    }


    function refreshMessages(){
        var contact = $('.current-contact').text();

        var getMessagesUrl = "/chat/getMessages/" + contact;

        $.ajax(getMessagesUrl, {
            success: function(data) {

                    var chatWindow = $('.chat-window');
                    $(".chat-window").html("");;
                    for(var message in data){
                        var div = document.createElement("div");
                        if(message.isIncoming){
                            div.className += "card col s8 msg-contact";
                        }else{
                            div.className += "card col s8 offset-s4 msg-own";
                        }
                        var p = document.createElement("p");
                        var titleSpan = document.createElement("span");
                        titleSpan.className += "msg-about";
                        if(message.isIncoming){
                            titleSpan.innerText = message.contact.login + " - " + message.date;
                        }else{
                            titleSpan.innerText = "Me - " + message.date;
                        }
                        var contentSpan = document.createElement("span");
                        contentSpan.className = "msg-content";
                        contentSpan.innerText = message.content;

                        p.appendChild(titleSpan);
                        p.appendChild(contentSpan);
                        div.appendChild(p);
                        chatWindow.appendChild(div);
                    }


            },
            error: function() {
                console.log("error");
            }
        });

    }


</script>


</body>
</html>